{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container img1">
        <div class="row">
            <div class="col-6 my-auto grey-text banner">
                <h1 class="banner-text">Our latest collection is here
                </h1>
                <a href="{% url 'products' %}" class="shop-button grey-text btn btn-lg rounded-0 text-uppercase"  role="button">Shop Now</a>
            </div>
        </div>    
    </div>
{% endblock %}