{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 my-auto">
                <h1>Our newest collection is available now
                </h1>
                <a class="shop-button btn btn-lg rounded-0 text-uppercase" href="#" role="button">Shop Now</a>
            </div>
        </div>    
    </div>
{% endblock %}