/**************************************Landing page*/
body,
html {
    height: 100%;
}

.img1 {
    background: url('/media/home_background_3.jpg') no-repeat center center fixed;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    

}

.main-header {
    background-color: white;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    padding-top: 5px;
}

.nav-link {
    padding: 0;
    padding-right: .5rem;

}

.navbar-light .navbar-toggler {
    border-color: white;
    

}
.grey-text {
    color: #5d5b6a;
}

.banner{
    padding-top: 20%;
    padding-left: 15%;
   
    
}

.banner-text{
    padding-bottom: 5%;
    

}

.shop-button{
    background-color: white;
    text-align: center;

}

/********************************Products Page*/
.product-page{
    height: 100%;
    width: 100%;
    top: 0;
	left: 0;
    position: fixed;
    z-index: -1;
    background: lightgrey;
}

.sub-heading{
    padding-top: 7%;
    padding-bottom: 2%;
    font-family: 'Dancing Script', cursive;
}


.card-container{
   padding-bottom: 1.5%;
}